@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  --body-font: 'Lexend Deca', sans-serif;
  --headings-font: 'Big Shoulders Display', cursive;

  --orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --v-dark-cyan: hsl(179, 100%, 13%);
  --t-white: hsla(0, 0%, 100%, 0.75);
  --v-light-gray: hsl(0, 0%, 95%);

  background-color: var(--v-light-gray);
  font-family: var(--body-font);
  color: var(--t-white);
  font-size: 16px;
}

h2 {
  font-family: var(--headings-font);
  text-transform: uppercase;
  font-size: 2.125rem;
}

p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #0077ff;
}

.btn {
  background-color: var(--v-light-gray);
  border: 3px solid var(--v-light-gray);
  display: inline-block;
  width: 10rem;
  margin-top: 2rem;
  padding: 1.125em 2rem;
  border-radius: 50px;
  text-align: center;
}

.btn:hover {
  background: none;
  border: 3px solid var(--v-light-gray);
  color: var(--t-white);
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 88px 0.5em 0 0.5em;
}

.component {
  overflow: hidden;
  max-width: 57.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  border-radius: 0.5rem;
}

.sedans,
.suv,
.luxury {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28rem;
  padding: 3em;
  width: 100%;
}

.sedans {
  background-color: var(--orange);
}

.sedans .btn {
  color: var(--orange);
}

.sedans .btn:hover {
  color: var(--t-white);
}

.suv {
  background-color: var(--dark-cyan);
}

.suv .btn {
  color: var(--dark-cyan);
}

.suv .btn:hover {
  color: var(--t-white);
}

.luxury {
  background-color: var(--v-dark-cyan);
}

.luxury .btn:hover {
  color: var(--t-white);
}

.luxury .btn {
  color: var(--v-dark-cyan);
}

.attribution {
  margin-top: 4rem;
  color: #545454;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .layout {
    padding-top: 112px;
  }

  .component {
    grid-template-columns: repeat(3, 1fr);
  }
}
